 
 nav{

	background-color:#34495E;
	color: black;
	height:55px;
	margin-bottom:6px !important;
	border-radius: 0 !important;
	border:1px solid #29487d !important;
	
}

.navbar-brand{
	color: #fff;
	font-style: italic;
}

#myNavbar li a{
	color:white;
	font-size:1em;
	font-weight: bold;
}
#btn_nav{

	margin-top: 9px;
	margin-right: 17px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	background:#7F8C8D;
	border-color:#BDC3c7; 
}

#btn_admin{
	margin-bottom:6px !important;	
}

#myNavbar li a:hover{
	color: #000080;
	border-left:3px solid #fff;
	
	background-color:#0052cc00;

}

#advertesment{
	height: 100px;
	/*background-color: #7F8C8D;*/
	background-color: #BDC3c7;
	margin-bottom:6px;
}
#content{

}
#search_box{
	background-color:#7F8C8D;
	padding-left: 1em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size:1.1em;
  border-color:#cc7a00; 
}

#search_box input{
	width:78%;
	padding-left:0.4em;
	padding-top:0.3em;
	padding-bottom:0.3em;
}


#search_box button{
	background-color:#34495E;
	color:white;
	padding-top:0.6em;
	padding-bottom:0.6em;
}
#label1{
	background-color:#BDC3c7;
	color: black;
	font-size:19px;
	width: 240px;
	height: 43px;
	margin-top: 13px;
  margin-right: 30px; 
  padding-left: 2px;
  border-color: #34495E;
}

#search_bar{
	background-color:#95A5A6;
	height: 70px;
	border-bottom: 3px solid #7F8C8D; 
	margin-bottom:3px;
	
}



#sidebar{
	background-color:#95A5A6;
	margin-top:4px;
	padding-bottom:185px;
	padding-left: 0px;

}

.dropdown_sidebar{
  width: 195px;
  border-radius: 0px;
  height: 45px;
  border-left: 5px solid #34495E;
  background-color: #7F8C8D;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #34495E;
  border-right: 5px solid #34495E;
}
.dropdown-menu{
  width:195px;
  border-radius:0px; 
}
.dropdown-menu li a:hover{
  background-color: #f2f2f2;
  border-right: 4px solid #7F8C8D;
}


.main_thub{
	background-color:#BDC3c7;
	padding-top:13px;
	margin-right:0px;
	margin-top:4px;
	margin-bottom: 2px;
	border-left: 6px solid #FFF;

}
.gap_btn{
	margin-top:4px; 
}
/*pagination*/
#glyphicon_side{
  margin-top: 24px;
  font-size: 30px;
  margin-left: 80px;
  margin-right: 70px;
  color: #ffa31a;

}
.pagination{
  margin-left:100px; 
}

/*Footer css*/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    border-top:2px solid #7F8C8D; 
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}
			.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #34495E;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

